/*sidebar*/
:root {
    --sidebar-width: 150px;
}

body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.side-nav {
    width: var(--sidebar-width);
    height: auto;
    padding: 10px;
    position: fixed;
    background-color: var(--bgcolor-1-clear);
    border-radius: 0px 15px 15px 0px;
    backdrop-filter: blur(8px);
    float: left;
    z-index: 1;
    transition: all 0.5s;
}
.side-nav ul {
    position: relative;
    list-style: none;
    /* for some reason it starts the list in the center of the sidebar, this fixes it */
    left: -30%;
    width: 150%;
}
.side-nav ul a {
    text-decoration: none;
    transition: all 0.8s;
}
.side-nav ul li {
    margin-bottom: 10px;
}
.side-nav ul a:hover {
    font-size: 20px;
}

.mobile-button {
    position: relative;
    left: var(--sidebar-width);
    background-color: var(--bgcolor-1-clear);
    padding: 10px;
    width: 50px;
    border-radius: 10px;
    height: 50px;
    display: none;
}

#mobile-button img {
    width: 100%;
    filter: invert(1);
}

#mobile-button img.lightmode {
    filter: invert(0);
}

/*content*/
.main-content-block {
    float: right;
    width: calc(100vw - var(--sidebar-width));
    transition: all 0.5s;
}

.main-content-block .content {
    width: calc(100vw - (var(--sidebar-width)*2));
    margin: auto;
    background-color: var(--bgcolor-1-clear);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 10px;
    transition: all 0.5s;
}
/*images*/
.image-break{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40vh;
    overflow: hidden;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-break img {
    width: 90%;
    margin: auto;
    
}
.side-image {
    margin: 20px;
    max-width: 100%;
    overflow: hidden;
}
.side-image img {
    height: 200px;
    border-radius: 10px;
}
.left {
    float: left;
}
.right {
    float: right;
}

/*mobile view changes*/

@media screen and (max-width: 1000px) {
    .side-nav {
        transform: translate(-140px, 0);
    }
    .side-nav:hover {
        transform: translate(0, 0);
    }
    .main-content-block {
        width: 100vw;
    }
    .main-content-block .content {
        width: 90%;
    }
    .mobile-button {
        display: inherit;
    }
    .side-nav ul {
        top: -50px;
    }
    .left {
        width: 100%;
        float: none;
    }
    .right {
        width: 100%;
        float: none;
    }
    .side-image {
        display: flex;
        justify-content: center;
    }
    .side-image img {
        width: 100%;
        margin-right: 7%;
        height: auto;
        border-radius: 10px;
    }
    .content p, .content ul, .content ol {
        font-size: 18px;
        margin-left: 15px;
        margin-right: 15px;
        line-height: 150%;
    }
}
.navshown {
    transform: translate(0, 0);
}

/* set the text formatting for content */
.content h1 {
    margin-top: 0;
    font-size: 40px;
    text-align: center;
}
.content h2 {
    font-size: 30px;
}


.content p, .content ul, .content ol {
    font-size: 18px;
    margin-left: 40px;
    margin-right: 40px;
    line-height:200%;
}

.masked-right{
    /* -webkit- is included here for compatability */
    -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    padding-right: 3vw;  
    background-color: white;

}
.masked-right-noext {
    -webkit-mask-image:-webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    padding: 0;
}
/*image links*/
/* I know it's inefficient with all the background attachment stuff but it doesn't apply if applied separately*/
#cyberbullying01 {
    background-image: url(../Assets/Images/cyberbullying01.jpeg);
    background-attachment: fixed;
}
#cyberbullying04 {
    background-image: url(../Assets/Images/cyberbullying04.png);
    background-attachment: fixed;
}
#malware01 {
    background-image: url(../Assets/Images/matrix.jpg);
    background-attachment: fixed;
}
#scam-1 {
    background-image: url(../Assets/Images/scam-calls.jpg);
    background-attachment: fixed;
}
#phishing1 {
    background-image: url(../Assets/Images/phishing01.jpg);
    background-attachment: fixed;
}
/* side nav scroll selector */
.side-nav li {
    transition: all 0.5s;
}
.side-nav-current {
    padding-left: 10px;
}

/* Imagewall style */
.imagewall-container {
    display: inline-flex; 
    align-items: center; 
    flex-wrap: wrap; 
    justify-content: center;
}
.imagewall {
    padding: 10px;
    width: 600px;
    max-width: 80%;

}
.imagewall-container div {
    height: auto;
}