
/* load fonts */

@font-face {
    font-family: "standard";
    src: url(../Assets/fonts/opensans/OpenSans.ttf);
}
@font-face {
    font-family: "dyslexic";
    src: url(../Assets/fonts/dyslexic/OpenDyslexic3-Regular.ttf);
}

* {
    /* apply settings with variables for easy modification */
    font-family: var(--font), Helvetica;
    color: var(--primary-text);
    box-sizing: border-box;
}

/*colour scheme*/

/*default css*/
:root {
    --mode: #000000;
    --inverted-mode: #ffffff;
    --bgcolor-1: #333333;
    --bgcolor-2: #222222;
    --bgcolor-1-clear: #0a0a0a5f;
    --accent-gray: #3d3d3d;
    --accent-gray-clear: #3d3d3d74;
    --blue-accent: #0058cc;
    --red-accent-blur: #b1000081;
    --dark-blue-accent-clear: #00246880;
    --primary-text: #ffffff;
    --secondary-text: #9e9e9e;
/*other vars for convenience*/
    --nav-distance: 100px;
    --nav-distance-alt: 97px;
    --font: "standard";

}

/*light mode css*/
.lightmode {
    --mode: #ffffff;
    --inverted-mode: #000000;
    --bgcolor-1: #d0d0d0;
    --bgcolor-2: #b0b0b0;
    --bgcolor-1-clear: #ffffff5f;
    --accent-gray: #a0a0a0;
    --accent-gray-clear: #a0a0a074;
    --blue-accent: #0073ff;
    --red-accent-blur: #fd212181;
    --primary-text: #000000;
    --secondary-text: #212121;
    --dark-blue-accent-clear: #0059ff80;
}

/*background*/
#bgVideo {
    position: fixed;
    z-index: -1000;
    min-width: 100vw;
    height: auto;
    width: auto;
    min-height: 100vh;
}
.background {
    top: 0;
}

body,html {
    margin: 0;
    height: 100vh;
    /* added to allow links to other parts of the page to scroll smoothly */
    scroll-behavior: smooth;
    max-width: 100%;

    /* without this on content links will scroll to headings behind the navbar */
    scroll-padding-top: var(--nav-distance);
}

.centered {
    text-align: center;
    margin: auto;
}


/*title/nav bar*/
.headerbg {
    height: 100px;
}

.body-header {
    background-color: var(--bgcolor-1-clear);
    margin-top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
    align-items: center;
    backdrop-filter: blur(10px);
}
.body-header h1 {
    text-align: center;
    padding-left: 50px;
    color: var(--primary-text);
}

.nav {
    display: block;
    position:fixed;
    z-index: 2 !important;
    height: auto;
    width: 100vw;
    line-height: 50px;
    background-color: var(--accent-gray-clear);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    opacity: 0;
    display: none;
}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.nav li {
    float: left;
}

.nav a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: var(--primary-text);
    border-radius: 10px;
    transition: all 0.5s;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
}
.nav li a:active {
    background-color: var(--blue-accent);
}
.nav li a:hover {
    background-color: var(--blue-accent);
    /* this can cause some issues in the nav at smaller sizes */
    font-size: 25px;
}
/* css to underline the links when hovered */
.nav a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 5px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav a:hover:after { 
    width: 95%; 
    left: 2.5%;
}

/*animated menu button*/

.menubtn-bar {
    width: 50px;
    height: 7px;
    margin: 6px;
    background-color: var(--inverted-mode);
    border-radius: 30px;
}
#bar-1.active {
    animation: 1s bar-1-active forwards;    
}
#bar-2.active {
    animation: 0.5s fade-out forwards;   
}
#bar-3.active {
    animation: 1s bar-3-active forwards;   
}
/* I made separate animations for closing the nav, without these it just snaps back to the initial position */
#bar-1.inactive {
    animation: 1s bar-1-inactive forwards;    
}
#bar-2.inactive {
    animation: 1s fade-in forwards;   
}
#bar-3.inactive {
    animation: 1s bar-3-inactive forwards;   
}
#nav.active {
    animation: 1s active-nav forwards;
    z-index: 1;
    display: inline;
}
#nav.inactive {
    animation: 1s inactive-nav forwards;
}

/*animations*/

@keyframes fade-out {
    100% {opacity: 0%;}
}

@keyframes bar-1-active {
    10% {transform: translate(0px, 14px);}
    50% {transform: rotate(-45deg);}
    100% {transform: translate(0, 12px) rotate(-45deg);}
}


@keyframes bar-3-active {
    10% {transform: translate(0px, -14px);}
    50% {transform: rotate(-45deg);}
    100% {transform: translate(0, -13px) rotate(45deg);}
}

@keyframes fade-in {
    0% {opacity: 0%;}
    85% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes bar-1-inactive {
    0% {transform: translate(0, 12px) rotate(-45deg);}
    50% {transform: rotate(-45deg);}
    80% {transform: translate(0px, 14px);}
    100% {transform: translate(0);}
    
}

@keyframes bar-3-inactive {
    0% {transform: translate(0, -13px) rotate(45deg);}
    50% {transform: rotate(-45deg);}
    80% {transform: translate(0px, -14px);}
    100% {transform: translate(0);}
}

@keyframes active-nav {
    0% {opacity: 0;}
    65% {transform: translate(0); opacity: 0;}
    100% {transform: translate(0, var(--nav-distance)); opacity: 1;}
}
@keyframes inactive-nav {
    0% {transform: translate(0, var(--nav-distance)); opacity: 1;}
    35% {transform: translate(0); opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slideinright {
	0% {
		opacity: 0;
		transform: translateX(-500px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/*footer*/

.footer {
    margin-top: 30px;
    width: 100%;
    background-color: var(--bgcolor-1);
    clear: both;
}
.footer-contents {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.footer-item {
    padding: 10px;
    color: var(--secondary-text);
}
.footer-item.link{
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.footer-item.link:hover {
    background-color: var(--blue-accent);
    scale: 1.2;
}
.footer-item.link:active {
    scale: 0.5;
}


/*scroll effects*/

.animatable {
    /* initially hide animatable objects */
    visibility: hidden;  
    animation-play-state: paused; 
}

.animated {
    visibility: visible;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-play-state: running;
}
.animated.fadeInUp {
	animation-name: fadeInUp;
}
.animated.slideinright {
	animation-name: slideinright;
}

/* Typing cursor animations */
.typing::after, .typing::after {
    content: "|";
    animation-name: blinking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}