.hero-box {
    width: 100%;
    height: calc(90vw/1.5);
    max-height: 70vh;
    min-height: 25vh;
    /* max-width: 1500px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    background-image: url(../Assets/Home\ page/hero-image.jpg);
    background-attachment: fixed;
    border-radius: 10px;
    overflow: hidden;
    
}

.background {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: -1000;
    background-image: url(../Assets/Home\ page/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.centered p {
    position: relative;
    bottom: 0;
}
.hero-box h1 {
    padding: 10px;
    padding-top: 3%;
    padding-left: 20px;
    font-size: 30px;
    color: #000000;
}
.hero-box h2 {
    padding: 10px;
    color: #000000;
    padding-left: 20px;

}

/* Image carousel */

@keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
}
  
.pic-ctn {
    position: relative;
    width: 100vw;
    /* margin-top: 50px; */
    height: 500px;
    overflow: hidden;
    --delay: 5s;
    border-radius: 10px;
}
  
.pic-ctn > img {
    position: absolute;
    top: -30%;
    animation-play-state: inherit;
    left: 0;
    min-width: 100vw;
    min-height: 65vh;
    opacity: 0;
    animation: display calc(var(--delay)*5) infinite;
}
/* offsets the animations of each image fading in and out to create the scrolling effect */
img:nth-child(2) {
    animation-delay: calc(var(--delay)*1);
}
img:nth-child(3) {
    animation-delay: calc(var(--delay)*2);
}
img:nth-child(4) {
    animation-delay: calc(var(--delay)*3);
}
img:nth-child(5) {
    animation-delay: calc(var(--delay)*4);
}

.dual-container {
    width: 100%;
    display: grid;
    /* 50% keeps the two columns the same width while resizing */
    grid-template-columns: 50% 50%;
    text-align: center;
}
.box-container {
    margin: 2%;
    border-radius: 20px;
    padding-bottom: 30px;
    background-color: var(--bgcolor-1-clear);
    backdrop-filter: blur(10px);
    transition: all 2s, background-color 1s ease-in-out, scale 0.3s ease-in-out;

    display: block;
    text-decoration: none;
}
.box-container:hover {
    background-color: var(--blue-accent);
    scale: 1.1;
}
@media screen and (min-width: 1200px) {
    
    .hero-box h1 {
        padding: 10px;
        padding-top: 7%;
        padding-left: 20px;
        font-size: 400%;
        color: #000000;
    }
    .hero-box h2 {
        padding: 10px;
        color: #000000; 
        padding-left: 40px;
        font-size: 200%;
    }

}

@media screen and (max-width: 600px) {
    .dual-container {
        grid-template-columns: auto;
    }
}

