.text-box {
    color: var(--primary-text);
    background-color: var(--accent-gray);
    border: 0px;
    border-radius: 10px;
    width: 50%;
    font-size: 2vw;
    margin: 20px;
}
body {
    height: 0%;
}
.search-header {
    width: 100%;
    background-color: var(--dark-blue-accent-clear);
    display: flex;
}
.search-button {
    width: 5%;
    background-color: #00000000;
    border: 0px;
    cursor: pointer;
}
.search-button img {
    width: 3vw;
}
.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.list-item {
    min-width: 300px;
    display: block;
    max-width: 900px;
    width: 30%;
    background-color: var(--bgcolor-1-clear);
    margin: 1%;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
    text-decoration: none;
    transition: all 0.5s;
}
.list-item:hover {
    background-color: var(--red-accent-blur);
}
.list-item p {
    padding: 10px;
}