
.content {
    width: 90%;
    height: 100%;
    background-color: var(--bgcolor-1-clear);
    margin: auto;
    backdrop-filter: blur(10px);
    border-radius: 30px;
}
.content h1 {
    text-align: center;
}
.content h2 {
    padding: 10px;
}

.radio-btn {
    scale: 3;
    margin: 30px;
}