.text-flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.test-heading h1 {
    padding-left: 20px;
}
.text-flexbox a {
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: var(--bgcolor-1-clear);
    border-radius: 10px;
    width: 30%;
    min-width: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-out;
}
.text-flexbox a:hover {
    scale: 1.1;
}
.content {
    width: 100%;
}
.questions, .results-container {
    width: 90vw;
    margin: auto;
    padding: 20px;
    background-color: var(--bgcolor-1-clear);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.responces ul {
    list-style: none;
}

.responces ul li {
    float: left;
    padding: 10px;
}

.tick, .cross {
    width: 30px;
    margin: 20px;
}
.hidden {
    display: none;
}

.test-btn {
    background-color: var(--dark-blue-accent-clear);
    border: 0;
    border-radius: 10px;
    font-size: 20px;
}