.text-flexbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.test-heading h1 {
    font-size: 3vw;
    text-align: center;
}

/* sets background image to stay in place while scrolling */
body {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-flexbox a {
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: var(--bgcolor-1-clear);
    border-radius: 10px;
    width: 30%;
    min-width: 300px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin: 10px;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-out;
}
.text-flexbox a:hover {
    scale: 1.1;
}
.content {
    width: 100%;
}
.questions, .results-container {
    width: 90%;
    margin: auto;
    /* flex is used since the formatting breaks without it */
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--bgcolor-1-clear);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
.question {
    display: block;
}
.responces ul {
    list-style: none;
}

.responces ul li {
    float: left;
    padding: 10px;
}

.tick, .cross {
    width: 30px;
    margin: 20px;
}
.hidden {
    display: none;
}

.test-btn {
    background-color: var(--dark-blue-accent-clear);
    border: 0;
    border-radius: 10px;
    font-size: 20px;
}
.incorrect a {
    padding: 10px;
    background-color: var(--dark-blue-accent-clear);
    border-radius: 10px;
    font-size: larger;
}

.help-btn {
    float: right;
}
input {
    scale: 1.5;
    margin: 15px;
}

/* Dealing with the image based responses and making them work oin small screens */
.responces img {
    max-height: 400px;
    max-width: 400px;
    width: auto;
    height: auto;
}
.check-container.image {
    background-color: var(--bgcolor-1);
    margin: 10px;
    border-radius: 20px;
}
@media screen and (max-width: 500px) {
    .responces img {
        max-height: 80vh;
        max-width: 60vw;
        width: auto;
        height: auto;
    }
    .check-container.image {
        margin-left: -50px;
    }
}

